.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardset__link, .address__link, .contacts, .logo, .navigation__link {
  text-decoration: none;
}

.cardset, .filter, .address__item, .clients__item, .social-icons, .members__list, .activities__thumb, .features-list, .contacts, .navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.icon {
  fill: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.backdrop {
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.backdrop__is-hidden {
  opacity: 0;
  visibility: none;
  pointer-events: none;
}

header {
  border-bottom: 1px solid #ECECEC;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation__list {
  display: inline-flex;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.14;
  color: #212121;
}
.navigation__link:hover, .navigation__link:focus {
  color: #18A0FB;
}
.navigation__link--current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #18A0FB;
  border-radius: 2px;
}
.header-wrapper .navigation {
  margin-left: 93px;
}

.logo {
  display: inline-flex;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo__first-part {
  color: #18A0FB;
}
.logo__second-part {
  color: #000000;
}
.logo__second-part--inversed {
  color: #ffffff;
}

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: #757575;
}
.contacts__link:hover, .contacts__link:focus {
  color: #18A0FB;
}
.contacts__item:not(:last-child) {
  margin-right: 40px;
}
.contacts__icon {
  margin-right: 10px;
}

.hero {
  padding: 200px 0px;
  background: #2F303A;
  text-align: center;
}
.hero__title {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero__button {
  padding: 10px 52px;
  background-color: #18A0FB;
  color: #ffffff;
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section:nth-child(3) {
  padding-top: 0px;
}
.section__title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}
.features-list__title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.features-list__item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.features-list__item:nth-child(4n) {
  margin-right: 0px;
}
.features-list__text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.features-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.activities {
  display: flex;
  flex-wrap: wrap;
  min-width: 370px;
  gap: 30px;
}
.activities__thumb {
  position: relative;
  display: flex;
  justify-content: center;
  padding: auto;
}
.activities__description {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.members {
  background-color: #F5F4FA;
}
.members__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.members__item {
  width: 270px;
  margin: 15px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.members__description {
  padding: 30px 32px;
}
.members__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.members__post {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.social-icons {
  display: flex;
}
.social-icons__item:not(:last-child) {
  margin-right: 10px;
}
.social-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #AFB1B8;
}
.social-icons__link:hover, .social-icons__link:focus {
  background-color: #18A0FB;
  color: #ffffff;
}

.clients {
  display: flex;
  flex-wrap: wrap;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  width: 170px;
  height: 92px;
  color: #AFB1B8;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
}
.clients__link:hover, .clients__link:focus {
  border-color: #18A0FB;
  color: #18A0FB;
}

footer {
  background: #2F303A;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-wrapper__address {
  margin-top: 20px;
}
.footer-wrapper__join-us {
  margin-left: 70px;
}

.address__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
.address__link--geo {
  color: #ffffff;
}
.address__link:hover, .address__link:focus {
  color: #18A0FB;
}

.join-us__title {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-form {
  margin-left: auto;
}
.subscribe-form__call {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.subscribe-form__input {
  padding: 16px;
  width: 358px;
  min-height: 50px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.subscribe-form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input:focus {
  outline: none;
}
.subscribe-form__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  margin-left: 12px;
  padding: 10px 28px;
  background-color: #18A0FB;
  color: #ffffff;
}
.subscribe-form__button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-form__icon {
  margin-left: 10px;
}

.modal {
  transition-property: opacity, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  width: 528px;
  height: 580px;
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
}
.modal:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal__link {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #18A0FB;
  text-decoration: underline;
  cursor: pointer;
}
.modal__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  color: #212121;
  cursor: pointer;
  transition-property: box-shadow,color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
.modal__button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #18A0FB;
}

.contacts-form__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}
.contacts-form__checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.contacts-form__checkbox-label {
  display: inline-flex;
}
.contacts-form__real-checkbox:focus + .contacts-form__checkbox {
  border: 2px solid #18A0FB;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.contacts-form__real-checkbox:checked + .contacts-form__checkbox {
  background-color: #18A0FB;
  border-color: #18A0FB;
  color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.contacts-form__checkbox {
  display: inline-block;
  justify-content: center;
  transition-property: box-shadow, background-color, border-color,color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  background-color: #ffffff;
  color: transparent;
  border-radius: 4px;
  border: 2px solid #212121;
  background-size: contain;
  background-origin: border-box;
}
.contacts-form__text {
  display: inline-block;
  margin-left: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.contacts-form__button {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  display: block;
  margin: auto;
  padding: 10px 52px;
  color: #ffffff;
  background-color: #18A0FB;
}
.contacts-form__button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-label__name {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-label__field {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  position: relative;
  display: block;
}
.form-label__input {
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  display: block;
  margin-bottom: 10px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.form-label__input:focus {
  border-color: #18A0FB;
  outline: none;
}
.form-label__inputarea {
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  display: block;
  margin-bottom: 10px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.form-label__inputarea:focus {
  border: 1px solid #18A0FB;
  outline: none;
}
.form-label__inputarea ::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-label__inputarea ::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-label__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
:focus + .form-label__icon {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  color: #18A0FB;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.filter__item:not(:first-child) {
  margin-left: 8px;
}
.filter__button {
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  min-width: 67px;
  padding: 6px 22px;
  color: #212121;
  background-color: #F5F4FA;
}
.filter__button--current {
  padding: 6px 22px;
  color: #ffffff;
  background-color: #18A0FB;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #18A0FB;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cardset {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.cardset__item {
  width: 370px;
  margin: 15px;
}
.cardset__item:hover .cardset__item__reaction {
  opacity: 1;
  transform: translateY(0%);
}
.cardset__link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  display: block;
}
.cardset__link:hover, .cardset__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cardset__thumb {
  display: block;
  position: relative;
  background: #ffffff;
  overflow: hidden;
}
.cardset__reaction {
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  margin-top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
}
.cardset__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.cardset__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
.cardset__description {
  padding: 20px 24px;
  border: 1px solid #F5F4FA;
  border-top: 0;
}/*# sourceMappingURL=main.css.map */