:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #18a0fb;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #2F303A;
    --filter-bg-color: #F5F4FA;

    --nav-logo-second-text-color: #000000;
}

всі кольори

{
    color:#212121;
    color:#757575;
    color:#18A0FB;
    color:#ffffff;
    color:#2F303A;
    color:#F5F4FA;
    color:#000000;
    color:#ECECEC;
    color:#AFB1B8;
}


/* задамо основні параметри для боді */
body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
}

header {
    border-bottom: 1px solid #ECECEC;
}

nav {
    margin-left: 93px;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link{
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}

ol,
ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* форматування логотипу (в навігації слово поділене на дві частини і у утері також) */
.logo {
    display: block;
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-first-text {
    color: var(--accent-color);
}

.logo-nav-second-text {
    color: var(--nav-logo-second-text-color);
}

.logo-foot-second-text {
    color: var(--primary-bg-color);
}
/* кінець форматування логотипу */

/* форматування навігації */
.site-nav{
    display: flex;
}

.site-nav-item:not(:last-child){
    margin-right: 50px;
}

.site-nav .link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    text-decoration: none;

    line-height: 1.14;
    color: #212121;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav-item .current::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;

    bottom: 0;
    left: 0;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts-item-link{
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    color: #757575;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item:not(:last-child) {
    margin-right: 40px;
}

.contacts-item-link:hover,
.contacts-item-link:focus {
    color: var(--accent-color);
}

.contacts-item-link .icon{
    margin-right: 10px;
}

.icon{
    fill: currentColor;
}


/* hero */
.hero {
    padding: 200px 0px;
    background: var(--secondary-bg-color);
    text-align: center;
}

.overlay{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-bg-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                    url(../images/img-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;

    font-weight: 900;
    font-size: 44px;    
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
}

/* button */
.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    min-width: 200px;
    letter-spacing: 0.06em;

    border-radius: 4px;
    border: 0;
    cursor: pointer;
}

.hero-button {
    min-width: 200px;
    min-height: 50px;
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
}

.features-list{
    display: flex;
    flex-wrap: wrap;
}

.features-list .title {
    margin-top: 0px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    text-decoration: none;

    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.features-list .item{
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
}

.features-list .item:nth-child(4n){
    margin-right: 0px;
}

.features-list .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--filter-bg-color);
    border-radius: 4px;
}

.features-list .text {
    margin-top: 0px;
    margin-bottom: 0px;

    font-size: 14px;
    text-decoration: none;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/* section */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section:nth-child(3){
    padding-top: 0px;
}

.section-title {
    margin-top: 0px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.work-list{
    display: flex;
    flex-wrap: wrap;
    min-width: 370px;
    gap: 30px;
}

.work-list .thumb {
    display: flex;
    position: relative;
    justify-content: center;
    padding: auto;
}

.work-list-description {
    display: flex;
    position: absolute;

    width: 100%;
    height: 70px;
    bottom: 0;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bg-color);

    background: rgba(47, 48, 58, 0.8);
}

.members{
    background-color: var(--filter-bg-color);
}

.members-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.members-list .item{
    width: 270px;
    margin: 15px;
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.social {
    display: flex;
    justify-content: space-between;
}


.social-item-link {
    display: flex;
    width: 44px;
    height: 44px;

    align-items: center;
    justify-content: center;

    border-radius: 50%;
    color: #afb1b8;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item-link:hover,
.social-item-link:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.teammate-description{
    padding: 30px 32px;
}

.teammate-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.teammate-post {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.clients {
    display: flex;
    flex-wrap: wrap;
}

.clients-item-link {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;

    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-item-link:hover,
.clients-item-link:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
}


footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--secondary-bg-color);
}

address {
    margin-top: 20px;
}

.footer-geolocation  {
    padding-left: 215;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    font-style: normal;

    color: var(--primary-bg-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts{
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-geolocation:hover,
.footer-geolocation:focus,
.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--accent-color);
}

footer .title {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;

    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
}

.footer-social {
    display: flex;
}

.footer-social-item-link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);

    cursor: pointer;
    color: #ffffff;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-social-item:not(:last-child) {
    margin-right: 10px;
}

.footer-social-item-link .icon {
    fill: currentColor;
} 

.footer-social-item-link:hover,
.footer-social-item-link:focus  {
    background-color: var(--accent-color);
}

.link-contact {
    margin-bottom: 9px;
}

.site-nav .current {
    color: var(--accent-color);
}

.footer-box {
    display: flex;
    align-items: baseline;

}

.join-us{
    margin-left: 70px;
}


.my-form{
    display: flex;
    margin-left: auto;
}

.subscribe-call{
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;

    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
}

.subscribe-form{
    display: flex;
    margin-left: auto;
}

.subscribe-input {
    display: inline-flex;
    padding: 16px;
    width: 358px;
    min-height: 50px;

    color: var(--primary-bg-color);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.subscribe-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    min-width: 200px;
    min-height: 50px;

    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:focus {
    outline: none;
}

.icon-subscribe {
    margin-left: 10px;
    fill: var(--primary-bg-color);
}

/* site-page potfolio */

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-button {
    min-width: 67px;
    padding: 6px 22px;
    color: var(--primary-text-color);
    background-color: var(--filter-bg-color);
    border-radius: 4px;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.filter > .item:not(:first-child) {
    margin-left: 8px;
}

.filter-button:hover,
.filter-button:focus {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);

}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.portfolio-item{
    width: 370px;
    margin: 15px;
}

.portfolio-item-link {
    display: block;
}

.portfolio-item-link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-thumb {
    display: block;
    position: relative;
    background: var(--primary-bg-color);
    overflow: hidden;
}

.portfolio-item-action {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    margin-top: 0;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;

    color: var(--primary-bg-color);
    background: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-item-action {
    opacity: 1;
    transform: translateY(0%);
}

.portfolio-example {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;

    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.example-description{
    padding: 20px 24px;
    border-bottom: 1px solid var(--filter-bg-color);
    border-left: 1px solid var(--filter-bg-color);
    border-right: 1px solid var(--filter-bg-color);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: none;
    pointer-events: none;
}

.backdrop .modal {
    opacity: 1;
}

.backdrop.is-hidden .modal{
    opacity: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 580px;
    padding: 40px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: var(--primary-bg-color);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-button {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    color: var(--primary-text-color);
    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.modal-close-button:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--accent-color);
}


.send-data-header{
    display: block;
    margin-bottom: 12px;

    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
}


.contacts-form-label{
    display:block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--secondary-text-color);
}

.icon-close {
    fill: currentColor;
    
}

.contacts-form-field{
    display: block;
    margin-bottom: 10px;
    padding-left: 42px;
    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-field:focus{
    border-color: var(--accent-color);
    outline: none;
}

.contacts-form-field:focus + .icon {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-contact-name {
    position: relative;
}

.icon-person{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.icon-contact-phone {
    position: relative;

}

.icon-phone {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.icon-contact-mail {
    position: relative;

}

.icon-mail {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}


.contacts-message{
    margin-bottom: 10px;
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-message:focus {
    border: 1px solid var(--accent-color);
    outline: none;
}

.contacts-message::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5)
}

.checkbox-form-field{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 30px;
}

.contacts-checkbox:focus + .icon-checkbox{
    border: 2px solid var(--accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.icon-checkbox {
    display: flex;
    width: 16px;
    height: 15px;

    align-items: center;
    justify-content:center ;
    background-color: var(--primary-bg-color);
    color: transparent;
    border-radius: 4px;
    border: 2px solid var(--primary-text-color);
    background-size: contain;
    background-origin: border-box;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.contacts-checkbox:checked + .icon-checkbox{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.contacts-checkbox-label {
    display: flex;
    
    margin-left: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color)
}

.contacts-checkbox-link{
    color: var(--accent-color);
    text-decoration: underline;
    cursor: pointer;
}

.modal-submit-button{
    display: block;
    margin: auto;

    min-width: 200px;
    min-height: 50px;
    justify-content: center;
    color: var(--primary-bg-color);
    background-color: var(--accent-color);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button:hover,
.modal-submit-button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}