.features-list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;

    &__title {
        @include font(14px, 700, 16px, 0.03em, text-primary, none,
            uppercase);
        margin-top: 0px;
        margin-bottom: 10px;
    }

    &__item {
        width: calc((100% - 90px) / 4);
        margin-right: 30px;
        
        &:nth-child(4n) {
            margin-right: 0px;
        }
    }

    &__text {
        @include font(14px, 400, 24px, 0.03em, text-secondary);
        margin-top: 0px;
        margin-bottom: 0px;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        margin-bottom: 30px;
        background-color: getColor('background-secondary');
        border-radius: 4px;
    }
}

