.hero {
    padding: 200px 0px;
    background: getColor('background-footer');
    text-align: center;

    &__title {
        @include font(44px, 900, 60px, 0.06em, background-primary,
            none, uppercase);
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        max-width: 696px;
    }

    &__button {
        padding: 10px 52px;
        background-color: getColor('accent');
        color: getColor('background-primary');
    }
}

.overlay {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: getColor('background-footer');
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/img-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
